name: Coveralls

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
# --- Coverage stages ---
  coverage:
    name: Get coverage information gcc ${{ matrix.gcc_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        gcc_version: ['13']
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Install gcc-${{ matrix.gcc_version }} and other dependencies
      run: |
        sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        sudo apt update
        sudo apt-get install -y gcc-${{ matrix.gcc_version }} ruby rake gcc-multilib lcov wget
        pip install gcovr==8.2
        wget https://github.com/ThrowTheSwitch/Ceedling/releases/download/v1.0.0/ceedling-1.0.0.gem -O ceedling.gem
        sudo gem install ceedling.gem
        sudo gem install coveralls-lcov
        sudo ln -fs /usr/bin/gcov-${{ matrix.gcc_version }} /usr/bin/gcov
    - name: Install branch v1.15 of lcov
      run: |
        git clone --branch=v1.15 https://github.com/linux-test-project/lcov.git
        cd lcov
        sudo make install
        cd -
    - name: Make coverage
      run: |
        make coverage
    - name: Submit results to Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: build/lcov.info
