name: Compile

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
# --- Compilation stages ---
  compile-gcc:
    name: gcc ${{ matrix.gcc_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        gcc_version: ['10','11','12']
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Install gcc-${{ matrix.gcc_version }}
      run: |
        sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        sudo apt update
        sudo apt-get install -y gcc-${{ matrix.gcc_version }}
    - name: Compile
      run: make libs
      env:
        CC: gcc-${{ matrix.gcc_version }}
  compile-clang:
    name: clang ${{ matrix.clang_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        clang_version: ['10','11','12','13','14','15']
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Install clang-${{ matrix.clang_version }}
      run: |
        sudo apt-get install -y clang-${{ matrix.clang_version }}
    - name: Compile
      run: make libs
      env:
        CC: clang-${{ matrix.clang_version }}
        CXX: clang++-${{ matrix.clang_version }}
